__pycache__
# /lib/types/__pycache__/
/dev
/testdata
/testdata_misc
/testdata_old
/userdata/*
!/userdata/settings.json
/preprocessed
/final
/.vscode
/sphinx

# Ui
.DS_Store
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/build
/.svelte-kit
/package
/.env.*
/coverage
